.App .header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ccc;
  height: 4em;
}

/** Main Layout rules */
.App {
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
}

.App .body {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.body .content {
  flex: 1;
}

.body .sidebar {
  max-width: 13em;
  flex: 0 0 13em;
  order: -1;
  background-color: #f5f5f5;
}
